@media screen and (max-width: 768px) {
  #sidebarPanel .modal-dialog {
    width: 100% !important;
  }
  #sidebarPanel .modal-body {
    width: 100% !important;
  }
  .panelbox .modal-dialog .modal-content {
   width: 100% !important;
  }
}
