.next-enter,
.next-exit {
  transition: transform 100ms ease-out;
}

.prev-enter,
.prev-exit {
  transition: transform 100ms ease-out;
}

.next-enter {
  transform: translateX(100%);
}

.prev-enter {
  transform: translateX(-100%);
}

.next-enter.next-enter-active,
.prev-enter.prev-enter-active {
  transform: translateX(0%);
}

.next-exit,
.prev-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.next-exit-active {
  transform: translateX(-100%);
}

.prev-exit-active {
  transform: translateX(100%);
}
